# ==========================================
# APP
# ==========================================
APP_NAME=UMKM Copilot AI
APP_ENV=development
APP_DEBUG=True
LOG_LEVEL=INFO

# ==========================================
# GOOGLE GEMINI
# ==========================================
GOOGLE_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# ==========================================
# SUPABASE
# ==========================================
SUPABASE_URL=
SUPABASE_KEY=

# ==========================================
# STREAMLIT
# ==========================================
STREAMLIT_SERVER_PORT=8501

# ==========================================
# APPLICATION
# ==========================================
DEFAULT_LANGUAGE=id
TIMEZONE=Asia/Jakarta
CURRENCY=IDR
